<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/../css/styles.css'>
        <title>Rock Paper Scissors: Player 2 Select</title>
    </head>
    <body>

        <!-- twig arrays with global variations of the names -->

        {% set rock = (["rock", "ro", "poisonous centipede", "hunter", "nimoy", "ick", "ching", "hockey puck"]) %}
        {% set paper = (["paper", "sham", "frog", "villager", "shatner", "ack", "chang", "maple syrup"]) %}
        {% set scissors = (["scissors", "bo", "snake", "fox", "takai", "ock", "walla", "caribou"]) %}

        <!-- These breaks are to help visually distinguish between pages for player 1 and player 2 -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- 3 buttons here, each link to ready page -->
        <form action="/ready" method="post">
            <div class="col-md-4 col-md-offset-3">
                <div class="text-center">
                <h2>Player 2: Test Your Might</h2>
                <button name="player2" type='submit' value="rock" class='btn btn-success'>{{ rock[array_key] }}</button>
                <button name="player2" type='submit' value="paper" class='btn btn-warning'>{{  paper[array_key]  }}</button>
                <button name="player2" type='submit' value="scissors" class='btn btn-danger'>{{  scissors[array_key]  }}</button>
                <input type="hidden" name="player1" value="{{ player1 }}"/>
                <input type="hidden" name="array_key" value="{{ array_key }}"/>
            </div>
        </div>
        </form>
    </body>
</html>
